.media-container {
    display: flex;
    flex-direction: column-reverse;
}

.media-post {
    border: 2px;
    border-style: groove;
    margin: 5px;
}

.media-thumbnail {
    max-width: 45%;
    height: auto;
    float: left;
    margin: 10px;
}

.text-box {
    margin-left: 5px;
}

.media-title {
    font-size: 200%;
    margin-bottom: 0px;
}

.post-link {
    color: black;
    text-decoration: none;
}

.post-link:hover {
    text-decoration: line;
}

.media-author {
    font-size: 80%;
    color: rgb(40, 40, 40);
    margin-bottom: 5px;
}

.user-href {
    color: black;
    text-decoration: none;
}

.user-href:hover {
    text-decoration: line;
}