{% extends "website/base.html" %} 
{% load static %} 
{% load crispy_forms_tags %}
{% block title %} Profile {% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'users/profile.css' %}">
{% endblock %} 
{% block content %} 
<div class='user-info'>
    <img class='display-pic' src='{{ user.profile.image.url }}'>
    <p class='user-name'>User: {{ user.username }}</p>
    <a class='href-url' href="{% url 'view-profile' user.id  %}">View your recent activity</a>
    <p class='user-description'> {{ user.profile.description }}</p>
    <div class='edit-profile'>
        <h1>Edit Account Profile</h1>
        <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <fieldset class='form-group'>
                <div class="form-group">
                    {{ user_form|crispy }}
                    {{ profile_form|crispy }}
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit Changes</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}