.user-info {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 20px;
}

.display-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    float: left;
    margin-right: 20px;
}

.user-name {
    margin-left: 20px;
    font-size: 30px;
}

.profile-media-container {
    width: 100%;
    padding-top: 150px;
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
}
