/* CSS for user's profile and description. */
.user-info {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 20px;
    overflow:hidden;
}

.display-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    float: left;
    margin-right: 20px;
}

.user-name {
    margin-left: 20px;
    font-size: 30px;
}

.edit-profile {
    position: absolute;
    padding-top: 150px;
}

/* CSS flexbox container for profile page. */

.user-feed {
    position:relative;
    padding-top: 70px;
}

.profile-media-container {
    width: 100%;
    padding-top: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* CSS for user's comment posts. */

.comment-post {
    border: 2px;
    border-style: groove;
    margin: 5px;
}

.comment-media {
    max-width: 20%;
    height: auto;
    float: left;
    margin: 10px;
}

.comment-info {
    padding-top: 8px;
    margin-bottom: 2px;
    color: rgb(90, 90, 90);
    font-size: 80%;
}

.comment {
    padding: 5px;
    text-align: left;
}